# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Environment
.env
.env.local

# assets: ignore everything except images
assets/*
!assets/*.jpg
!assets/*.jpeg
!assets/*.png
!assets/*.gif
!assets/*.svg
!assets/*.webp
